
user-service/.gradle/*
user-service/.idea/*
user-service/build/*
Welcome-Login-Signup-Page-Flutter/.dart_tool/*
*.bin
*.class
Welcome-Login-Signup-Page-Flutter/build/*
Welcome-Login-Signup-Page-Flutter/.idea/*
Welcome-Login-Signup-Page-Flutter/.idea/libraries/Dart_SDK.xml
Welcome-Login-Signup-Page-Flutter/.idea/libraries/Flutter_Plugins.xml
Welcome-Login-Signup-Page-Flutter/.idea/misc.xml
Welcome-Login-Signup-Page-Flutter/.idea/modules.xml
Welcome-Login-Signup-Page-Flutter/.idea/runConfigurations.xml
Welcome-Login-Signup-Page-Flutter/.idea/vcs.xml
*.class
Welcome-Login-Signup-Page-Flutter/android/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
Welcome-Login-Signup-Page-Flutter/android/.gradle/7.0.2/dependencies-accessors/gc.properties
Welcome-Login-Signup-Page-Flutter/android/.gradle/7.0.2/fileHashes/fileHashes.lock
Welcome-Login-Signup-Page-Flutter/android/.gradle/7.0.2/gc.properties
Welcome-Login-Signup-Page-Flutter/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Welcome-Login-Signup-Page-Flutter/android/.gradle/buildOutputCleanup/cache.properties
Welcome-Login-Signup-Page-Flutter/android/.gradle/checksums/checksums.lock
Welcome-Login-Signup-Page-Flutter/android/.gradle/vcs-1/gc.properties
Welcome-Login-Signup-Page-Flutter/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Welcome-Login-Signup-Page-Flutter/android/local.properties
Welcome-Login-Signup-Page-Flutter/ios/Flutter/flutter_export_environment.sh
Welcome-Login-Signup-Page-Flutter/ios/Flutter/Generated.xcconfig
Welcome-Login-Signup-Page-Flutter/ios/Runner/GeneratedPluginRegistrant.h
Welcome-Login-Signup-Page-Flutter/ios/Runner/GeneratedPluginRegistrant.m
Welcome-Login-Signup-Page-Flutter/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
Welcome-Login-Signup-Page-Flutter/macos/Flutter/ephemeral/flutter_export_environment.sh
